<app-booking [timeLineStatus]="timeLineStatus"></app-booking>

<div class="booking-container">
  <div class="booking-img">
    <img src="https://cdn.otaghak.com/otg-images-new/Large/f09269b0-7bfd-4816-87a3-f7a2954b87b9.webp" alt="">
  </div>
  <div *ngIf="bookingPageStatus.showAlertSection">
    {{bookingPageStatus.alert}}
  </div>
  <div *ngIf="bookingPageStatus.showChatWithHost">
    chat
  </div>
  <div *ngIf="bookingPageStatus.showDiscountSection">
    showDiscount
  </div>
  <div *ngIf="bookingPageStatus.showDownloadVoucherButton">
    show download voucher
  </div>
  <div *ngIf="bookingPageStatus.showFullWidthButton">
    <button (click)="bookingPageStatus.fullWidthButtonCallBackFn()">{{bookingPageStatus.fullWidthButtonLabel}}</button>
  </div>
  <div *ngIf="bookingPageStatus.showPassengerTab">
    showPassengerTab
  </div>
  <div *ngIf="bookingPageStatus.showPaymentSection">
    show payment section
  </div>
  <div *ngIf="bookingPageStatus.showSubmitComment">
    <button (click)="bookingPageStatus.submitButtonCallBackFn">{{bookingPageStatus.submitButtonLabel}}</button>
  </div>
</div>
