.booking-all {
  &-container {
    padding: 1rem;
    background-color: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  &-img {


    img {
      width: 400px;
      margin: 0 auto;
    }

  }
}

.alert {
  width: 300px;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;


}

.success {
  background-color: #C1F2B0;
}

.error {
  background-color: #CE5A67;
}

.warn {
  background-color: #FFA33C;
}
